html {
  scroll-snap-type: y mandatory;
  background-color: black;
}
.app {
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: flex; /* Change from grid to flex */
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
}

/*.app {
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: grid;
  place-items: center;
}*/

.app__videos {
  position: relative;
  margin: auto;
  height: 100vh;
  width: 100%;
  max-width: 400px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}

.app__videos::-webkit-scrollbar {
  display: none;
}
/* for IE Safari*/
.app__videos {
  -ms-overflow-style: none;
  scrollbar-width: none;
}